<div class="col-12 mb-4 bg" >
  <div class="col-lg-8 col-12 pt-lg-3 mb-4 pl-lg-5 px-lg-0 px-4 portfolio-content">
    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
    <%- item.content %>
  </div>
</div>
